//
   Created by DELL on 2016/6/13.

extends layout

block content


    div#loginorreg
        p#welcome 欢迎使用Webchat
        a(href="../login")
            button#iwantlogin 登录
        a(href="../register")
            button#iwantreg 注册

